In [1]:
import pandas as pd
import numpy as np
import random, time
import urllib
from urllib import parse
from urllib.request import urlopen
from bs4 import BeautifulSoup
import openpyxl
import requests
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

from IPython.display import display

In [2]:
def get_rating_detail(classname):
    product_reviews=[]
    reviews=driver.find_elements_by_class_name(classname)[::]
    for element in reviews:
        product_reviews.append(element.text)
    try:
        result=product_reviews
    except IndexError:
        result='IndexError'
    return result

In [3]:
def NextPage():
    try:
        driver.find_element_by_xpath('//*[@id="main"]/div/div[2]/table/tbody/tr[1]/td[2]/a').click()
        
    except NoSuchElementException:
        pass

In [4]:
def LastPage():
    try:
        driver.find_element_by_xpath('//*[@id="title-overview-widget"]/div[1]/div[2]/div/div[1]/ div[1]/a').click()
    except  NoSuchElementException:
        pass

In [5]:
data =pd.read_csv('D:/python/Netflix/netflix_originals_합본_2.csv',encoding='ANSI')
title=data.Title.values.tolist()
print(title[:5])

['House of Cards', 'Hemlock Grove', 'Orange Is the New Black', 'Marco Polo', 'Bloodline']

In [6]:
title_path = []
for i in title:
    split_title = i.split()
    sum_title = "+".join(split_title)
    title_path.append(sum_title)
title_path[:5]

['House+of+Cards',
 'Hemlock+Grove',
 'Orange+Is+the+New+Black',
 'Marco+Polo',
 'Bloodline']

In [7]:
url_list=[]
for i in title_path:
    url="https://www.imdb.com/find?q="+str(i)+ "&ref_=nv_sr_sm"
    url_list.append(url)

In [8]:
options = webdriver.ChromeOptions()
options.headless = True # webdriver.ChromeOptions.headless = True (크롬 백그라운드)
options.add_argument('window-size=1920x1080')

driver = webdriver.Chrome(r'C:\Users\seonwoo\Anaconda\chromedriver.exe', options=options)
url_list[::]
get_rating_detail('smallcell')#bigcell

[]

In [9]:
page = url_list[:591]    #값 바꿀것
new_data = []


for i in page:
    driver.implicitly_wait(1)
    driver.get(i)
    driver.implicitly_wait(1)
    NextPage()
    driver.implicitly_wait(1)
    LastPage()
    driver.implicitly_wait(1)
    datalist = get_rating_detail('smallcell')
    driver.implicitly_wait(2)
    new_data.append(datalist)
    #driver.get_screenshot_as_file(str(j) + '_screen.png')
    #j += 1
new_data[:5]  # 35

[['468,910',
  '95',
  '91,386',
  '175,163',
  '43,165',
  '280,510',
  '71',
  '75,595',
  '142,394',
  '33,256',
  '58,292',
  '8',
  '13,974',
  '29,612',
  '8,921',
  '445',
  '53,200',
  '169,513'],
 ['37,122',
  '10',
  '5,461',
  '15,228',
  '6,133',
  '16,181',
  '4',
  '2,527',
  '8,551',
  '3,721',
  '12,840',
  '5',
  '2,819',
  '6,480',
  '2,306',
  '197',
  '7,814',
  '12,056'],
 ['279,938',
  '116',
  '58,266',
  '98,828',
  '25,461',
  '114,662',
  '40',
  '28,675',
  '57,899',
  '15,854',
  '85,931',
  '49',
  '27,960',
  '39,033',
  '9,053',
  '399',
  '40,811',
  '91,933'],
 ['65,215',
  '18',
  '10,638',
  '24,348',
  '8,054',
  '40,056',
  '13',
  '8,931',
  '20,472',
  '6,432',
  '7,211',
  '3',
  '1,490',
  '3,454',
  '1,461',
  '181',
  '6,653',
  '23,802'],
 ['44,389',
  '3',
  '4,770',
  '15,911',
  '8,704',
  '23,392',
  '2',
  '3,775',
  '11,805',
  '5,597',
  '8,637',
  '1',
  '915',
  '3,826',
  '2,927',
  '183',
  '8,392',
  '14,833']]

In [10]:
x=pd.DataFrame(new_data)

In [11]:
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,"468,910",95,"91,386","175,163","43,165","280,510",71,"75,595","142,394","33,256","58,292",8,"13,974","29,612","8,921",445,"53,200","169,513"
1,"37,122",10,"5,461","15,228","6,133","16,181",4,"2,527","8,551","3,721","12,840",5,"2,819","6,480","2,306",197,"7,814","12,056"
2,"279,938",116,"58,266","98,828","25,461","114,662",40,"28,675","57,899","15,854","85,931",49,"27,960","39,033","9,053",399,"40,811","91,933"
3,"65,215",18,"10,638","24,348","8,054","40,056",13,"8,931","20,472","6,432","7,211",3,"1,490","3,454","1,461",181,"6,653","23,802"
4,"44,389",3,"4,770","15,911","8,704","23,392",2,"3,775","11,805","5,597","8,637",1,915,"3,826","2,927",183,"8,392","14,833"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,535,160,148,58,349,140,131,53,40,18,14,5,11,59,245,None,None,None
585,431,80,150,39,183,38,99,31,102,38,47,7,13,37,178,None,None,None
586,"42,792",2,"1,124","18,703","12,613","30,773",2,"1,008","17,345","11,323","2,467",99,"1,128","1,139",479,"9,309","20,419",None
587,386,1,91,90,36,147,1,43,60,26,88,40,27,9,9,58,108,None
588,497,2,50,172,110,269,1,36,116,84,108,1,13,53,26,41,79,200

In [12]:
excel_name='netflix_origlnal_voter.xlsx'

In [13]:
x.to_excel(excel_name,encoding='utf-8')

In [ ]:
page=url_list[]
total_voters=[new_data[i][0] for i in range(len(page))]
total_first=[new_data[i][1] for i in range(len(page))] 
total_second=[new_data[i][2] for i in range(len(page))]
total_third=[new_data[i][3] for i in range(len(page))]
total_last=[new_data[i][4] for i in range(len(page))]
total_males=[new_data[i][5] for i in range(len(page))]
total_females=[new_data[i][10] for i in range(len(page))]

my_dict={'total rating':total_voters,'total_first':total_first,"total second":total_second,'total thrid':total_third,'total last':total_last,'total males':total_males,'total females':total_females}
voter=pd.DataFrame(my_dict)

In [49]:
voter

,total rating,total_first,total second,total thrid,total last,total males,total females
0,"468,753",92,"91,469","175,045","43,136","280,456","58,284"
1,"37,105",10,"5,469","15,216","6,130","16,173","12,840"
2,"279,886",116,"58,329","98,768","25,444","114,652","85,927"
3,"65,176",17,"10,645","24,330","8,047","40,036","7,209"
4,"44,354",2,"4,774","15,892","8,696","23,375","8,631"
5,"364,613",253,"84,058","111,506","26,251","213,286","34,515"
6,"140,377",41,"28,067","47,672","15,580","68,132","31,815"
7,"361,270",228,"77,186","116,751","23,998","210,969","31,402"
8,"193,993",113,"39,873","63,747","18,755","105,433","29,414"
9,"21,134",6,"3,981","7,169","2,114","11,108","3,824"
10,"117,391",81,"22,153","38,807","11,696","70,029","10,922"
11,"91,433",32,"13,660","33,272","11,446","42,698","21,460"
12,"54,249",88,"13,897","14,415","4,131","24,182","11,957"
13,"115,487",104,"22,011","36,592","10,985","67,689","11,052"
14,"257,927",546,"70,403","61,187","11,130","105,737","56,681"
15,"5,614",2,307,"1,457","2,511","2,772","1,602"
16,"186,107",184,"38,009","55,031","14,441","108,699","13,365"
17,"13,378",1,"1,027","4,409","2,967","5,925","3,385"
18,93,12,23,16,32,7,5
19,"1,583",2,202,331,86,406,288

In [50]:
excel_name='netflix_origlnal_voter 200번까지.xlsx'